/* reset */
* {
  box-sizing: border-box;
  margin: 0;
  border: 0;
  background: none;
}

/* variables */
:root {
  --btn-padding: 10px;
  --blue: #4f5bd5;
  --add-btn-transition--time: 0.2s;
  --card-body--height: 149px;
}

body {
  background-color: #f8f8f8;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  height: 100vh;
}

#cards-container {
  display: flex;
  overflow: hidden;
  padding: 8px;
  padding-top: 40px;
  margin-right: auto;
  margin-left: auto;
  max-width: 960px;
  gap: 10px;
  height: 100%;
}

#app {
  height: 100%;
}

.card {
  position: relative;
  display: flex;
  justify-content: center;
  height: fit-content;
}

.card-drop-down {
  text-align: center;
  color: var(--blue);
  font-size: 28px;
  background-color: white;
  width: 90%;
  position: absolute;
  top: -10px;
  z-index: 1;
  transition: ease-in var(--add-btn-transition--time);
  height: 32px;
}

.card-drop-down.hovered {
  top: -28px;
}

.card-drop-down.active {
  color: white;
  background-color: var(--blue);
  /* z-index: 4; */
}

.card-drop-down.active + .card-drop-down--content {
  height: calc(var(--card-body--height) * 2.35);
  display: block;
}

.card-drop-down--content {
  height: 0;
  width: 100%;
  background-color: white;
  display: none;
  z-index: 4;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.16);
  position: absolute;
  text-align: center;
  text-transform: capitalize;
  padding-top: 12px;
}

.card-body {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: white;
  width: 257px;
  height: var(--card-body--height);
  padding: 16px;
  z-index: 2;
}

.boost-btn {
  border: 3px solid #a6acba;
  border-radius: 24px;
  height: auto;
  font-size: 10px;
  opacity: 40%;
  color: #3c3c3c;
  padding-left: var(--btn-padding);
  padding-right: var(--btn-padding);
  padding-top: calc(var(--btn-padding) / 4);
  padding-bottom: calc(var(--btn-padding) / 4);
}

.card-statistics {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.text-divider {
  margin-top: 32px;
  background-image: linear-gradient(
    to right,
    #a6acba 60%,
    rgba(255, 255, 255, 0) 20%
  );
  background-position: top;
  background-size: 8px 1px;
  background-repeat: repeat-x;
  margin-right: 3px;
  margin-left: 2px;
  height: 2px;
  position: relative;
}

.text-divider span {
  background-color: #fff;
  padding: 0 5px;
  position: absolute;
  top: -7px;
  left: 50%;
  transform: translateX(-50%);
  color: #a6acba;
}

.date-picker {
  margin-top: 15px;
  display: inline-block;
  width: 80%;
}

.date-picker--range {
  margin-top: 8px;
  display: flex;
  justify-content: space-around;
  padding-top: 8px;
}

.date-picker--range > span:nth-child(2) {
  margin-top: -6px;
}

.text-bold {
  font-weight: 700;
  font-size: 23px;
}
.card-border {
  border: 1px solid #eaeaea;
  border-radius: 5px;
}
.text-uppercase {
  text-transform: uppercase;
}
.text-underline {
  border-bottom: 1px solid #000;
  padding-bottom: 3px;
}
